@import-normalize;

/* VARIABLES */
:root {
    --mainBackgroundColor: #021018;/*#f5f5f4;*/
    /* Maybe find a lighter shade as we swapped with sideBackgroundColor */
    --headerBackgroundColor: #072232;/*#02131c;*//*#021c2b;*/
    --sideBackgroundColor: #021c2b;/*#02131c;*/
    --mainText: #f5f5f4;
    --accentText: #06d6a0;
    --panelColor: #093047;
    --panelHeaderColor: #0a3954;/*#072638;*/

    /* BUTTON COLORS */
    --playButtonColor: /*#00E676;*/ #28a745;
    --pauseButtonColor: /*#00B0FF;*/ #007bff;
    --resetButtonColor: /*#FF1744;*/ #dc3545;
    --updateButtonColor: #04946f;
    --updateButtonHover: #017650;
    --updateButtonPressed: #046352;

    /* SCROLLBAR COLORS */
    --scrollMain: /*#358f77;*/#1c4f41;
    --scrollHover: #276b59;
}

/* FONTS */
@font-face {
    font-family: MoonBold;
    src: url("../css/MOON2/Moon2.0-Bold.woff") format("woff"), url("../css/MOON2/Moon2.0-Bold.ttf") format("ttf");
}

/* MISC */
html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}

div {
    margin: auto;
}

div#root {
    height: 100%;
}

p, h1, h2, h3, label, input {
    margin: 0;
    color: var(--mainText);
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--headerBackgroundColor);
    padding: 0;
    margin: 0;
    border-bottom: 3px solid #010A0E;

}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--headerBackgroundColor);
    border-top: 3px solid #010A0E;
}

body {
    margin: 0;
    background-color: var(--mainBackgroundColor);
}

canvas {
    width: 100%;
    height: 100%;
}

.acc {
    /* color: #0129c6; */
    color: var(--accentText);
}

/* REMOVE ARROWS ON NUMBER INPUTS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* SCROLLBAR */
*::-webkit-scrollbar {
      width: 12px;               /* width of the entire scrollbar */
      height: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--headerBackgroundColor);        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollMain);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--headerBackgroundColor);  /* creates padding around scroll thumb */
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollHover);
}

/* LINKS */
/* FIXME: Yellow looks terrible. */
a:link {
    color: #f5f5f4;
    /*background-color: #b3dcff;*/
}
a:visited {
    color: #f5f5f4;
    /*background-color: #b3dcff*/
}
a:hover {
    background-color: #5babf0;
}

/* GRID SETUP */
.containerMain {
    min-height: 600px;
    min-width: 955px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    height: 100%;
    width: 100%;
}

.header {
    grid-column: 1 / 25;
    grid-row: 1 / 2;
}

.sideBar {
    background-color: var(--sideBackgroundColor);
    min-width: 200px;
    overflow: auto;
    grid-column: 1 / 7;
    grid-row: 2 / 24;
}

.viewScreen {
    grid-column: 7 / 25;
    grid-row: 2 / 24;
}

.footer {
    grid-column: 1 / 25;
    grid-row: 24 / 25;
}

/* PANEL STYLE */
.containerPanel {
    margin: 10px;
}

.panelHeaderOpen {
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--panelHeaderColor);
}

.panelHeaderClosed {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--panelHeaderColor);
}

.panelSeperator {
    height: 3px;
    width: 100%;
    background-color: var(--sideBackgroundColor);
}

.panelBody {
    padding: 10px;
    background-color: var(--panelColor);
    border-radius: 0px 0px 10px 10px;
}

/* VIEW SCREEN STYLE */
.containerViewScreen {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BUTTON STYLES */
.button {
    margin: 5px 5px 5px 5px;
    min-width: 58px;
    min-height: 36px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    position: relative;
}

.buttonValues {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BUTTON COLORS */
.playButton {
    background-color: var(--playButtonColor);
}

.pauseButton {
    background-color: var(--pauseButtonColor);
}

.resetButton {
    background-color: var(--resetButtonColor);
}

.chevronButton {
    min-height: 0px;
    min-width: 0px;
    background-color: transparent;
}

/* FORMS */
form {
    text-align: center;
    align-items: center;
}

form label {
    margin-right: 10px;
}

form input[type=number] {
    background-color: var(--mainBackgroundColor);
    border: solid;
    border-color: var(--accentText);
    border-width: 2px;
    border-radius: 5px;
    width: 20%;
    text-align: center;
}

form input[type=submit] {
    display: block;
    margin: 15px auto 5px auto;
    width: 100px;
    min-width: 58px;
    min-height: 36px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    position: relative;
    background-color: var(--updateButtonColor);
}

form input[type=submit]:hover {
    background-color: var(--updateButtonHover);
}

form input[type=submit]:active {
    background-color: var(--updateButtonPressed);
}
