@import-normalize;

/* VARIABLES */
:root {
    --mainBackgroundColor: black;/*#f5f5f4; Smokey White*/
    /* Maybe find a lighter shade as we swapped with sideBackgroundColor */
    --headerBackgroundColor: #02131c;/*#021c2b;*/
    --sideBackgroundColor: #021c2b;/*#02131c;*/
    --mainText: #f5f5f4;
    --accentText: #06d6a0;
    --panelColor: #093047;
}

/* FONTS */
@font-face {
    font-family: MoonBold;
    src: url("../css/MOON2/Moon2.0-Bold.woff") format("woff"), url("../css/MOON2/Moon2.0-Bold.ttf") format("ttf");
}

/* MISC */
html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}

div {
    margin: auto;
}

div#root {
    height: 100%;
}

p, h1, h2, h3 {
    margin: 0;
    color: var(--mainText);
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--headerBackgroundColor);
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    background-color: var(--mainBackgroundColor);
}

.acc {
    /* color: #0129c6; */
    color: var(--accentText);
}


/* LINKS */
/* FIXME: Yellow looks terrible. */
a:link {
    color: yellow;
    /*background-color: #b3dcff;*/
}
a:visited {
    color: yellow;
    /*background-color: #b3dcff*/
}
a:hover {
    background-color: #5babf0;
}

/* GRID SETUP */
.containerMain {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    height: 100%;
    width: 100%;
}

.header {
    grid-column: 1 / 25;
    grid-row: 1 / 2;
}

.sideBar {
    background-color: var(--sideBackgroundColor);
    grid-column: 1 / 7;
    grid-row: 2 / 24;
}

.viewScreen {
    grid-column: 7 / 25;
    grid-row: 2 / 24;
}

.footer {
    background-color: var(--headerBackgroundColor);
    grid-column: 1 / 25;
    grid-row: 24 / 25;
}

/* SIDEBAR STYLE */
.subTitle {
    margin-bottom: 12px;
    text-decoration: underline;
}

/* PANEL STYLE */
.containerPanel {
    background-color: var(--panelColor);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

/* VIEW SCREEN STYLE */
.containerViewScreen {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* STARTBUTTON STYLE */
.startButton {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    background: url(icons/play_arrow-24px.svg) no-repeat 20px 7px;
    background-color: #00E676;
    padding-left: 20px;
    padding-top: 1px;
}
